streamlit
langchain
langchain-openai
langchain-chroma
langchain-text-splitters
langchain-community
langchain-classic
langchain-mistralai
langsmith
chromadb
openai
pandas
numpy
python-dotenv
tiktoken
tavily-python
truststore
certifi
ipykernel
notebook
nbformat
nbconvert
langchain-tavily